-   
    var headerMenu = [
        {
            name:"Home",
            url:"#"
        },
        {
            name:"Why MISOCIAL",
            url:"#"
        },
        {
            name:"Features",
            url:"#"
        },
        {
            name:"Articles",
            url:"#"
        },
        {
            name:"Pricing",
            url:"#"
        },
    ] 
- 
   var key = { 
      Free: {
         src: "img/firstblock",
         alt: "firstblock",
         price: "0",
         description: "Lorem ipsum dolor sit amet.sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat.",
         url: "#1",
      }, 
      Home: { 
         src: "img/secondblock",
         alt: "secondblock",
         price: "29",
         description: "Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat.",
         url: "#2",
      }, 
      Premium: { 
         src: "img/thirdblock",
         alt: "asset-3",
         price: "49",
         description: "Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat.",
         url: "#3",
      } 
   } 