include components/var
include components/mixins 

doctype html
html(lang="uk")
    head
        link(rel="stylesheet", href="css/styles.css")
        meta(charset="UTF-8")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scakable=yes,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">              <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scakable=yes,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

        title Misocial
    body
        header
            .wrapper
                .flex
                    .hamburger
                        span     
                    .logo
                        img(src="img/logo..png", alt="Логотип")
                        p.logoImg MISOCIAL
                    .nav 
                        ul
                            +menu(headerMenu)
                            //- li 
                            //-     a(href="#") Home
                            //- li
                            //-     a(href="#")  Why MISOCIAL  
                            //- li
                            //-     a(href="#") Features 
                            //- li
                            //-     a(href="#") Articles
                            //- li 
                            //-     a(href="#") Pricing
                        .cta 
                            a(href="#") get started
                .marg
                .header-title
                    .about
                        .flex-centr
                            p.skills.line SOCIAL MARKETING & ANALYTICS
                        h1 Pricing Table
                        p.underH 
                            |Lorem ipsum dolor sit amet, consectetur adipisicing 
                            br
                            |elit, sed do eiusmod tempor incididunt ut.
                    .marg
                    .flex-centr
                        a(href="#main") 
                            .circle(class="arrow")
        include components/main
        

